<div class="container d-flex align-items-center justify-content-center" style="height: 100vh">
  <div class="text-home-landing-page text-center">
    <!-- Conteúdo do texto da página -->
  </div>
  <div class="text-center">
    <form id="form-login" class="login-form">
      <div class="mb-3">
        <input class="form-control" type="text" name="usuario" placeholder="Usuário" autocomplete="off" />
      </div>
      <div class="mb-3">
        <input class="form-control" id="senha" type="password" name="senha" placeholder="Senha" autocomplete="new-password" />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="mostrarsenha" />
        <label class="form-check-label" for="mostrarsenha">Mostrar senha</label>
      </div>
      <button class="btn btn-primary custom-button" type="submit">Entrar</button>
      <div>
        Ainda não se cadastrou? <a routerLink="/registration" class="blue-text">Clique aqui!</a>
      </div>
    </form>
  </div>
</div>

  