<div class="container d-flex align-items-center justify-content-center" style="height: 100vh">
  <div class="main-landing-page text-center">
    <div class="text-home-landing-page">
      <!-- Conteúdo do texto da página -->
    </div>
    <div class="text-center">
      <form action="" method="post" class="login-form" id="form-cadastro">
        <div class="mb-3">
          <input class="form-control" type="text" placeholder="Nome" />
        </div>
        <div class="mb-3">
          <input class="form-control" type="text" placeholder="Sobrenome" />
        </div>
        <div class="mb-3">
          <input class="form-control" type="text" placeholder="E-mail" />
        </div>
        <div class="mb-3">
          <input class="form-control" type="password" placeholder="Senha" />
        </div>
        <div class="mb-3">
          <input class="form-control" type="password" placeholder="Confirmar senha" />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="mostrarsenha" />
          <label class="form-check-label" for="mostrarsenha">Mostrar senha</label>
        </div>
        <button class="btn btn-primary custom-button" type="submit">Enviar</button>
      </form>
    </div>
  </div>
</div>
